body{
  background: #090d4d;
}

.card{
  background: white; 
  width: 500px ; 
  height: 350px;
  margin: auto;
  top: 150%; 
  left: 50%;
  transform: translate(10px, 150px);
  padding: 15px;
}

.card-head{
  overflow: hidden;
}

.card-head img{
  width: 65px;
  float: right; 
}

.unique-title{
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
  margin: 0;
}

.card-body{
  overflow: hidden;
}

.descriptive-paragraph{
  float: left;
  width: 220px;
  font-family: 'Handlee', cursive;
  font-size: 18px;
}

.form-data{
  float: right;
  width: 50%;
  font-size: 30px;
}

.input-data{
  font-family: 'Handlee', cursive;
  width: 240px;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 15px;
}

.card-footer{
  padding: 10px;
  text-align: center;
}

#submit-card{
  border-bottom: 1px solid gray;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 18px;
}

